body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('./assets/images/ruijia-wang-_cX76xaZB5A-unsplash.jpg') no-repeat center center/cover;
    background-size: cover;
    scroll-behavior: smooth;
}